In [8]:
import pandas as pd
import collections
import json
import numpy as np

In [3]:
df = pd.read_excel("raw_data//daily_price_all.xlsx")

In [4]:
df.head(15)

,Unnamed: 0,Last Refresh: 2019-11-27 22:36:55,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 3159,Unnamed: 3160,Unnamed: 3161,Unnamed: 3162,Unnamed: 3163,Unnamed: 3164,Unnamed: 3165,Unnamed: 3166,Unnamed: 3167,Unnamed: 3168
0,Calendar Basis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Portfolio,,Default,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Item,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Frequency,일간,KRW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Non-Trading Day,Previous,Asc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Include Weekend,NONE,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Term,20090101,Current(20191127),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Symbol,A005930,A000660,A035420,A005380,A207940,A012330,A068270,A051910,A055550,...,A900060,A900090,A900130,A900150,A900180,A950010,A950030,A950070,A950100,A950190
8,Symbol Name,삼성전자,SK하이닉스,NAVER,현대차,삼성바이오로직스,현대모비스,셀트리온,LG화학,신한지주,...,중국식품포장,차이나하오란,웨이포트,성융광전투자,완리,평산차업 KDR,네프로아이티,중국고섬,SBI모기지,미투젠
9,Kind,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC,...,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC
10,Item,S41000170F,S41000170F,S41000170F,S41000170F,S41000170F,S41000170F,S41000170F,S41000170F,S41000170F,...,S41000170F,S41000170F,S41000170F,S41000170F,S41000170F,S41000170F,S41000170F,S41000170F,S41000170F,S41000170F
11,Item Name,수익률(%),수익률(%),수익률(%),수익률(%),수익률(%),수익률(%),수익률(%),수익률(%),수익률(%),...,수익률(%),수익률(%),수익률(%),수익률(%),수익률(%),수익률(%),수익률(%),수익률(%),수익률(%),수익률(%)
12,Frequency,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,...,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY
13,2009-01-01 00:00:00,-0.66,0.9,2.77,0,NaN,-0.32,-2.46,0.42,-0.83,...,NaN,NaN,NaN,NaN,NaN,-1.55,NaN,NaN,NaN,NaN
14,2009-01-02 00:00:00,4.21,7.16,-1.92,5.57,NaN,10.94,2.02,5.77,-0.67,...,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN

In [5]:
df.columns = df.iloc[7]
df = df[13:]
df = df.set_index('Symbol')

In [16]:
hey = df.values[1]

In [19]:
np.isnan(np.array(hey))

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [9]:

#idx of double 
double_idx = np.full(len(df.index), False, dtype = bool)

for i in range(len(df.index)) :
    oneday_arr = df.values[i]
  
    if i ==0 :
        pre_arr = oneday_arr
        continue ;
    #get non np array for calc norm distance btw pre & curr day return 
    nz_idx = np.isnan(oneday_arr)

    if np.linalg.norm(oneday_arr[~nz_idx]  - pre_arr[~nz_idx]) < 0.001 :
        double_idx[i] = True
        

    pre_arr = oneday_arr

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [ ]:
price_js = price.to_json(orient='columns')
with open('data//daily_price.json', 'w') as outfile:
    json.dump(price_js, outfile)